{% extends "base.html" %}

{% block title %}Calculate - RR Fitness Genie{% endblock %}

{% block content %}
<div style="text-align: center; padding: 4rem; color: var(--text-muted);">
  <h2>Calcualte calorie page</h2>
  <h3>hi {{username}}!</h3>
  <p>work in progress or sum</p>
  <div id="food-container">

  </div>
  <div class="selected-foods">
    {% for item in meal_items %}
      <p>{{ item.name }} ({{ item.quantity }})</p>
      <form action="/remove_food" method="post">
        <input type="hidden" name="rm_food" value="{{ item.food_id }}">
        <button type="submit">Remove</button>
      </form>
      <form action="/add_quantity" method="post">
        <input type="hidden" name="add_more" value="{{ item.food_id }}">
        <button type="submit">+</button>
      </form>
      <form action="/rm_quantity" method="post">
        <input type="hidden" name="add_less" value="{{ item.food_id }}">
        <button type="submit">-</button>
      </form>
    {% endfor %}
  </div>
  <div class="searched-foods">
    {% if foods %}
      {% for food in foods %}
        <div class="food-card">
          <p id="food-name">{{ food.name }}</p>
          <form action="/add_food" method="post">
            <input type="hidden" name="food_id" value="{{ food.id }}">
            <button type="submit">Add</button>
          </form>
        </div>
      {% endfor %}
    {% endif %}
  </div>
  <div class="select-food">
    <form method="get" action="/calculate">
      <input type="text" name="searchbar" placeholder="Search for tierlist..."
        value="{{ request.args.get('searchbar', '') }}"">
      <button type="submit">Search</button>
    </form>
  </div>
</div>
{% endblock %}
