{% extends "base.html" %}

{% block title %}Calculate - RR Fitness Genie{% endblock %}

{% block content %}
<div style="text-align: center; padding: 4rem; color: var(--text-muted);">
  <h2>Calculate your daily calorie intake!</h2>
  <div class="select-food">
    <form method="get" action="/calculate">
      <input type="text" name="searchbar" placeholder="Search for food..."
        value="{{ request.args.get('searchbar', '') }}"">
      <button type="submit">Search</button>
    </form>
  </div>
  <div class="searched-foods">
    {% if foods %}
      {% for food in foods %}
        <div class="food-card">
          <p id="food-name">{{ food.name }}</p>
          <form action="/add_food" method="post">
            <input type="hidden" name="food_id" value="{{ food.id }}">
            <button type="submit">Add</button>
          </form>
        </div>
      {% endfor %}
    {% endif %}
  </div>
  <div class="selected-foods">
    <h3>Total Calories: {{ total_calories }}</h3>
    {% for item in meal_items %}
      <div class=""food-card>
        <p>{{ item.name }} ({{ item.quantity }})</p>
        <p>{{ item.calories }} calories</p>
        <form action="/remove_food" method="post">
          <input type="hidden" name="item_id" value="{{ item.id }}">
          <button type="submit">Remove</button>
        </form>
        <form action="/add_quantity" method="post">
          <input type="hidden" name="item_id" value="{{ item.id }}">
          <button type="submit">+</button>
        </form>
        <form action="/rm_quantity" method="post">
          <input type="hidden" name="item_id" value="{{ item.id }}">
          <button type="submit">-</button>
        </form>
      </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
